<form id="comment_form" action="/posts" method="post">
  <label for="post[guest_name]">Name:</label><br>
  <input type="text" name="post[guest_name]" value="<%= post.try(:guest_name) %>"><br>

  <label for="post[hometown]">My home town:</label><br>
  <input type="text" name="post[hometown]" value="<%= post.try(:hometown) %>"><br>

  <label for="post[body]">Comment:</label><br>
  <textarea name="post[body]"><%= post.try(:body) %></textarea><br>

  <input type="submit" name="submit" value="Save your comment"><br>
</form>
