<section id="sidebar" class="sidebar">
  <h4 id="new_comment_link" class="button_anchor">
  	How was your stay?</h4>
  <%= erb :'posts/_form', { layout: false, locals: { post: @post } } %>
</section>

<section id="comments" class="left content">
  <% @posts.each do |post| %>
    <%= erb :'posts/_post', { layout: false, locals: {:post => post }} %>
  <% end %>
</section>
