<section id="sidebar" class="sidebar right">
</section>

<section id="comment" class="left content">
  <h2>You wrote:</h2>
  <%= erb :'posts/_post', { layout: false, locals: {:post => @post }} %>
</section>
