<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <header class="float_wrapper">
    <h2 class="left">Paradise Isle Hostel Guestbook</h2>
    <p class="right"><a href="/">Home</a></p>
  </header>

  <main class="float_wrapper">
    <%= yield %>
  </main>

  <footer>
    <p>Paradise Isle</p>
  </footer>

</body>
</html>
