<div>
  <h3>Item</h3>
  <p><%= @auction.name %></p>
</div>
<div>
  <h3>Description</h3>
  <%= @auction.description %>
</div>
<div>
  <h3>Condition</h3>
  <%= @auction.condition %>
</div>
<div>
  <h3>Time</h3>
  <p>Auction ends at<%= @auction.end %></p>
</div>
